@keyframes neon-animation {
    0% {
        text-shadow: 0 0 10px var(--n-370), 0 0 20px var(--n-370), 0 0 30px var(--n-370);
        /* Neon glow at start */
    }

    100% {
        text-shadow: 0 0 20px var(--n-370), 0 0 30px var(--n-370), 0 0 40px var(--n-370);
        /* Neon glow at end */
    }
}

@-webkit-keyframes neon-animation {
    0% {
        text-shadow: 0 0 10px var(--n-370), 0 0 20px var(--n-370), 0 0 30px var(--n-370);
        /* Neon glow at start */
    }

    100% {
        text-shadow: 0 0 20px var(--n-370), 0 0 30px var(--n-370), 0 0 40px var(--n-370);
        /* Neon glow at end */
    }
}


.skeleton {

    -webkit-animation: skeleton 0.5s linear infinite alternate both;
    animation: skeleton 0.5s linear infinite alternate both;
}

@-webkit-keyframes skeleton {
    0% {
        background: #dee2e6;
    }

    100% {
        background: #adb5bd;
    }
}

@keyframes skeleton {
    0% {
        background: #dee2e6;
    }

    100% {
        background: #adb5bd;
    }
}


.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}


.stars{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    /* box-shadow: -24vw -44vh 2px 2px #fff,38vw -4vh 0px 0px #fff,-20vw -48vh 1px 2px #fff,-39vw 38vh 3px 1px #fff,-42vw -11vh 0px 3px #fff,12vw 15vh 3px 3px #fff,42vw 6vh 3px 2px #fff,-8vw 9vh 0px 2px #fff,34vw -38vh 1px 0px #fff,-17vw 45vh 3px 1px #fff,22vw -36vh 3px 2px #fff,-42vw 1vh 1px 0px #fff; */
    animation: zoom 7s alternate infinite;
    box-shadow: 34vw -7vh 1px 3px #FC00FF,-27vw 50vh 1px 3px #fff,37vw -26vh 1px 2px #FC00FF,16vw -7vh 0px 0px #fff,-6vw -43vh 1px 2px #FC00FF,17vw -39vh 1px 0px #fff,24vw -18vh 0px 1px #FC00FF,-19vw 33vh 0px 0px #fff,-44vw -24vh 1px 3px #FC00FF,23vw -8vh 3px 2px #FC00FF,-44vw 44vh 3px 1px #fff,-32vw 26vh 2px 0px #FC00FF,-26vw -15vh 2px 0px #fff,38vw 28vh 1px 0px #fff,-44vw -42vh 2px 3px #fff,-42vw 38vh 3px 0px #fff,-11vw 47vh 3px 3px #fff,17vw 6vh 2px 1px #fff,-49vw -24vh 3px 0px #fff,13vw 16vh 2px 0px #FC00FF,5vw -13vh 2px 1px #fff,25vw 14vh 2px 1px #fff,-29vw 18vh 0px 1px #fff,39vw -22vh 2px 3px #fff,-50vw -15vh 3px 0px #fff,-19vw -22vh 0px 0px #fff,43vw -50vh 3px 0px #fff,16vw 29vh 0px 3px #fff,-33vw -22vh 0px 0px #fff,-24vw 3vh 2px 0px #fff,26vw 31vh 3px 0px #FC00FF,11vw -16vh 1px 2px #fff,-38vw -30vh 1px 3px #fff,-44vw -3vh 1px 0px #fff,2vw 12vh 0px 3px #fff,47vw 13vh 2px 2px #fff,-4vw 18vh 2px 0px #fff,-23vw -40vh 0px 2px #fff,-20vw 43vh 1px 3px #fff,42vw 24vh 3px 1px #fff,-21vw 12vh 1px 3px #fff,-18vw 4vh 0px 0px #fff,2vw 46vh 2px 3px #fff,8vw -32vh 0px 1px #fff,-34vw -34vh 0px 2px #fff,-23vw -24vh 2px 1px #fff,-29vw 6vh 2px 1px #fff,45vw 30vh 2px 0px #fff,-8vw -7vh 2px 0px #fff,-14vw 1vh 3px 2px #fff;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}